# 1. Análisis Exploratorio Inicial de Datos Educativos

Este notebook tiene como objetivo realizar un análisis exploratorio inicial sobre el dataset de estadísticas educativas. Utilizaremos las funciones modularizadas en la carpeta `src/` para la carga, limpieza básica y resumen de los datos.

## 1.1 Configuración del Entorno e Importación de Módulos

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import sys
import os
    
sys.path.append(os.path.abspath(os.path.join('..', 'src')))
sys.path.append(os.path.abspath(os.path.join('..', 'config')))
    
# Importar funciones y variables
from data_loader import load_data, save_processed_data
from utils import (
    summarize_dataframe,  
    analyze_completeness,
    count_zeros_by_column,
    find_duplicate_columns
)
from settings import (
    RAW_DATA_PATH, 
    PROCESSED_DATA_PATH, 
    COLUMNS_TO_CONVERT_TO_NUMERIC, 
    FIGURES_PATH, 
    COLUMNS_TO_DELETE,
    FILTER_COLUMN,
    FILTER_VALUE
)
# Importamos la función de limpieza 
from data_cleaner import (
    clean_column_names,
    delete_columns,
    handle_missing_values,
    normalize_column_names,
    filter_remove_rows
)

## 1.2 Carga y Preparación Inicial del Dataset

In [2]:
# Cargar el dataset utilizando la función modular de data_loader.py

df = load_data(RAW_DATA_PATH)

if df is not None:
    # Crear una copia 
    df_work = df.copy()
    print("\nDataFrame original cargado y copia de trabajo creada.")
else:
    df_work = None
    print("No se pudo cargar el DataFrame, df_work es None.")

Intentando cargar el dataset desde: c:\Users\LENOVO\OneDrive\Documentos\python class\Dathon_Academic_MEN\data\raw\MEN_ESTADISTICAS_EN_EDUCACION.csv
Dataset cargado exitosamente. Dimensiones: (14585, 41)

DataFrame original cargado y copia de trabajo creada.

### 1.2.1 Resumen Inicial del DataFrame

In [3]:
# Resumen del DataFrame
summarize_dataframe(df_work)

El DataFrame tiene 14585 filas y 41 columnas.

Primeras filas del DataFrame:
    AÑO  CÓDIGO_MUNICIPIO   MUNICIPIO  CÓDIGO_DEPARTAMENTO DEPARTAMENTO  \
0  2023              5001    Medellín                    5    Antioquia
1  2023              5002   Abejorral                    5    Antioquia
2  2023              5004    Abriaquí                    5    Antioquia
3  2023              5021  Alejandría                    5    Antioquia
4  2023              5030       Amagá                    5    Antioquia

   CÓDIGO_ETC              ETC POBLACIÓN_5_16  TASA_MATRICULACIÓN_5_16  \
0      3759.0         Medellín         377562                    96.15
1      3758.0  Antioquia (ETC)           3634                    74.38
2      3758.0  Antioquia (ETC)            503                    62.62
3      3758.0  Antioquia (ETC)            864                    81.37
4      3758.0  Antioquia (ETC)           5060                    78.30

   COBERTURA_NETA  ...  REPROBACIÓN  REPROBACIÓN_TRANSICIÓN  \
0           95.94  ...         9.23                    0.15
1           74.38  ...         7.77                    0.56
2           62.62  ...         6.55                    0.00
3           81.37  ...         7.88                    0.00
4           78.30  ...        10.71                    0.00

   REPROBACIÓN_PRIMARIA  REPROBACIÓN_SECUNDARIA  REPROBACIÓN_MEDIA  \
0                  6.21                   15.40               7.27
1                  7.26                   10.93               4.41
2                  1.96                   16.51               2.04
3                  7.02                   13.65               2.40
4                  9.63                   16.48               5.50

   REPITENCIA  REPITENCIA_TRANSICIÓN  REPITENCIA_PRIMARIA  \
0        9.25                   1.82                 8.34
1        9.07                   1.67                10.28
2        9.52                   0.00                10.46
3        7.20                   1.59                 7.69
4       12.08                   0.29                11.54

   REPITENCIA_SECUNDARIA  REPITENCIA_MEDIA
0                  13.69              4.48
1                  11.32              2.20
2                  13.76              2.04
3                  11.65              0.00
4                  18.48              3.98

[5 rows x 41 columns]

Información general del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14585 entries, 0 to 14584
Data columns (total 41 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   AÑO                          14585 non-null  int64
 1   CÓDIGO_MUNICIPIO             14585 non-null  int64
 2   MUNICIPIO                    14585 non-null  object
 3   CÓDIGO_DEPARTAMENTO          14585 non-null  int64
 4   DEPARTAMENTO                 14585 non-null  object
 5   CÓDIGO_ETC                   14585 non-null  float64
 6   ETC                          14585 non-null  object
 7   POBLACIÓN_5_16               14579 non-null  object
 8   TASA_MATRICULACIÓN_5_16      14470 non-null  float64
 9   COBERTURA_NETA               14474 non-null  float64
 10  COBERTURA_NETA_TRANSICIÓN    14533 non-null  float64
 11  COBERTURA_NETA_PRIMARIA      14494 non-null  float64
 12  COBERTURA_NETA_SECUNDARIA    14491 non-null  float64
 13  COBERTURA_NETA_MEDIA         14492 non-null  float64
 14  COBERTURA_BRUTA              14517 non-null  float64
 15  COBERTURA_BRUTA_TRANSICIÓN   14488 non-null  float64
 16  COBERTURA_BRUTA_PRIMARIA     14504 non-null  float64
 17  COBERTURA_BRUTA_SECUNDARIA   14497 non-null  float64
 18  COBERTURA_BRUTA_MEDIA        14458 non-null  float64
 19  TAMAÑO_PROMEDIO_DE_GRUPO     7572 non-null   float64
 20  SEDES_CONECTADAS_A_INTERNET  7768 non-null   float64
 21  DESERCIÓN                    14443 non-null  float64
 22  DESERCIÓN_TRANSICIÓN         13682 non-null  float64
 23  DESERCIÓN_PRIMARIA           14343 non-null  float64
 24  DESERCIÓN_SECUNDARIA         14315 non-null  float64
 25  DESERCIÓN_MEDIA              13851 non-null  float64
 26  APROBACIÓN                   14560 non-null  float64
 27  APROBACIÓN_TRANSICIÓN        14492 non-null  float64
 28  APROBACIÓN_PRIMARIA          14560 non-null  float64
 29  APROBACIÓN_SECUNDARIA        14531 non-null  float64
 30  APROBACIÓN_MEDIA             14484 non-null  float64
 31  REPROBACIÓN                  14499 non-null  float64
 32  REPROBACIÓN_TRANSICIÓN       14492 non-null  float64
 33  REPROBACIÓN_PRIMARIA         14488 non-null  float64
 34  REPROBACIÓN_SECUNDARIA       14479 non-null  float64
 35  REPROBACIÓN_MEDIA            14440 non-null  float64
 36  REPITENCIA                   14442 non-null  float64
 37  REPITENCIA_TRANSICIÓN        14426 non-null  float64
 38  REPITENCIA_PRIMARIA          14437 non-null  float64
 39  REPITENCIA_SECUNDARIA        14433 non-null  float64
 40  REPITENCIA_MEDIA             14446 non-null  float64
dtypes: float64(34), int64(3), object(4)
memory usage: 4.6+ MB


Estadísticas descriptivas básicas del DataFrame:
                 AÑO  CÓDIGO_MUNICIPIO MUNICIPIO  CÓDIGO_DEPARTAMENTO  \
count   14585.000000      14585.000000     14585         14585.000000
unique           NaN               NaN      1037                  NaN
top              NaN               NaN  La Unión                  NaN
freq             NaN               NaN        52                  NaN
mean     2016.999383      38693.103668       NaN            38.259376
std         3.741392      26554.514246       NaN            26.567883
min      2011.000000          0.000000       NaN             0.000000
25%      2014.000000      15676.000000       NaN            15.000000
50%      2017.000000      25839.000000       NaN            25.000000
75%      2020.000000      66572.000000       NaN            66.000000
max      2023.000000      99773.000000       NaN            99.000000

       DEPARTAMENTO    CÓDIGO_ETC           ETC POBLACIÓN_5_16  \
count         14585  14585.000000         14585          14579
unique           36           NaN           100           8527
top       Antioquia           NaN  Boyacá (ETC)           1823
freq           1625           NaN          1560             10
mean            NaN   3541.003356           NaN            NaN
std             NaN   1126.630087           NaN            NaN
min             NaN      0.000000           NaN            NaN
25%             NaN   3769.000000           NaN            NaN
50%             NaN   3785.000000           NaN            NaN
75%             NaN   3805.000000           NaN            NaN
max             NaN  10930.000000           NaN            NaN

        TASA_MATRICULACIÓN_5_16  COBERTURA_NETA  ...   REPROBACIÓN  \
count              14470.000000    14474.000000  ...  14499.000000
unique                      NaN             NaN  ...           NaN
top                         NaN             NaN  ...           NaN
freq                        NaN             NaN  ...           NaN
mean                  84.971929       85.553196  ...      4.757305
std                   18.589112       16.932351  ...      3.999522
min                    0.000000        0.000000  ...      0.000000
25%                   74.850000       76.890000  ...      0.920000
50%                   85.330000       86.400000  ...      4.520000
75%                   95.380000       94.540000  ...      7.420000
max                  279.030000      264.540000  ...     49.390000

        REPROBACIÓN_TRANSICIÓN  REPROBACIÓN_PRIMARIA  REPROBACIÓN_SECUNDARIA  \
count             14492.000000          14488.000000            14479.000000
unique                     NaN                   NaN                     NaN
top                        NaN                   NaN                     NaN
freq                       NaN                   NaN                     NaN
mean                  0.486811              3.884770                6.809006
std                   1.653298              3.802457                6.153460
min                   0.000000              0.000000                0.000000
25%                   0.000000              0.410000                0.720000
50%                   0.000000              3.330000                6.160000
75%                   0.220000              6.000000               10.830000
max                  52.710000             51.970000               76.970000

        REPROBACIÓN_MEDIA    REPITENCIA  REPITENCIA_TRANSICIÓN  \
count        14440.000000  14442.000000           14426.000000
unique                NaN           NaN                    NaN
top                   NaN           NaN                    NaN
freq                  NaN           NaN                    NaN
mean             4.130812      3.299480               0.943228
std              4.211766      3.369769               2.415125
min              0.000000      0.000000               0.000000
25%              0.670000      0.720000               0.000000
50%              3.100000      2.160000               0.000000
75%              6.400000      5.090000               0.930000
max             67.860000     37.470000              50.000000

        REPITENCIA_PRIMARIA  REPITENCIA_SECUNDARIA  REPITENCIA_MEDIA
count          14437.000000           14433.000000      14446.000000
unique                  NaN                    NaN               NaN
top                     NaN                    NaN               NaN
freq                    NaN                    NaN               NaN
mean               3.169504               4.326487          1.697890
std                3.644108               4.548738          2.284121
min                0.000000               0.000000          0.000000
25%                0.590000               0.730000          0.000000
50%                1.880000               2.740000          0.870000
75%                4.590000               6.820000          2.560000
max               50.760000              55.070000         36.450000

[11 rows x 41 columns]

### 1.2.2 Análisis de valores nulos

In [4]:
analyze_completeness(df_work)

Total de valores posibles: 597985
Total de valores no nulos: 579275
Porcentaje de completitud del DataFrame: 96.87%

Porcentaje de valores nulos por columna (orden descendente):
TAMAÑO_PROMEDIO_DE_GRUPO       48.083648
SEDES_CONECTADAS_A_INTERNET    46.739801
DESERCIÓN_TRANSICIÓN            6.191292
DESERCIÓN_MEDIA                 5.032568
DESERCIÓN_SECUNDARIA            1.851217
DESERCIÓN_PRIMARIA              1.659239
REPITENCIA_TRANSICIÓN           1.090161
REPITENCIA_SECUNDARIA           1.042167
REPITENCIA_PRIMARIA             1.014741
REPROBACIÓN_MEDIA               0.994172
REPITENCIA                      0.980459
DESERCIÓN                       0.973603
REPITENCIA_MEDIA                0.953034
COBERTURA_BRUTA_MEDIA           0.870758
TASA_MATRICULACIÓN_5_16         0.788481
COBERTURA_NETA                  0.761056
REPROBACIÓN_SECUNDARIA          0.726774
APROBACIÓN_MEDIA                0.692492
REPROBACIÓN_PRIMARIA            0.665067
COBERTURA_BRUTA_TRANSICIÓN      0.665067
COBERTURA_NETA_SECUNDARIA       0.644498
APROBACIÓN_TRANSICIÓN           0.637641
COBERTURA_NETA_MEDIA            0.637641
REPROBACIÓN_TRANSICIÓN          0.637641
COBERTURA_NETA_PRIMARIA         0.623929
COBERTURA_BRUTA_SECUNDARIA      0.603360
REPROBACIÓN                     0.589647
COBERTURA_BRUTA_PRIMARIA        0.555365
COBERTURA_BRUTA                 0.466232
APROBACIÓN_SECUNDARIA           0.370243
COBERTURA_NETA_TRANSICIÓN       0.356531
APROBACIÓN                      0.171409
APROBACIÓN_PRIMARIA             0.171409
POBLACIÓN_5_16                  0.041138
CÓDIGO_ETC                      0.000000
CÓDIGO_DEPARTAMENTO             0.000000
ETC                             0.000000
MUNICIPIO                       0.000000
CÓDIGO_MUNICIPIO                0.000000
AÑO                             0.000000
DEPARTAMENTO                    0.000000
dtype: float64

Justificación para eliminar variables

Las variables **TAMAÑO_PROMEDIO_DE_GRUPO** y **SEDES_CONECTADAS_A_INTERNET** presentan un alto porcentaje de datos faltantes, con un **48.08%** y **46.74%** de valores nulos, respectivamente. 

Este nivel de incompletitud limita la calidad y confiabilidad de los análisis, especialmente en modelos predictivos o análisis globales que requieren datos consistentes.

Por esta razón, se decidió eliminar estas variables del análisis principal para garantizar resultados más robustos y representativos. 

Sin embargo, se podrán considerar análisis focalizados en subconjuntos donde estas variables estén completas para explorar su posible impacto en la calidad educativa.

### 1.2.3 Análisis de columnas con Ceros

In [5]:
columns_with_zeros = count_zeros_by_column(df_work)

Número de columnas con al menos un valor en cero: 35

Columnas con valores en cero y su cantidad:
CÓDIGO_MUNICIPIO                   3
CÓDIGO_DEPARTAMENTO                3
CÓDIGO_ETC                         3
TASA_MATRICULACIÓN_5_16            5
COBERTURA_NETA                     8
COBERTURA_NETA_TRANSICIÓN          9
COBERTURA_NETA_PRIMARIA            8
COBERTURA_NETA_SECUNDARIA         26
COBERTURA_NETA_MEDIA              50
COBERTURA_BRUTA                    8
COBERTURA_BRUTA_TRANSICIÓN         8
COBERTURA_BRUTA_PRIMARIA           8
COBERTURA_BRUTA_SECUNDARIA        26
COBERTURA_BRUTA_MEDIA             43
SEDES_CONECTADAS_A_INTERNET      284
DESERCIÓN                         55
DESERCIÓN_TRANSICIÓN            1219
DESERCIÓN_PRIMARIA               355
DESERCIÓN_SECUNDARIA             195
DESERCIÓN_MEDIA                  698
APROBACIÓN                         3
APROBACIÓN_TRANSICIÓN          10330
APROBACIÓN_PRIMARIA                3
APROBACIÓN_SECUNDARIA             14
APROBACIÓN_MEDIA                  22
REPROBACIÓN                     1625
REPROBACIÓN_TRANSICIÓN         10330
REPROBACIÓN_PRIMARIA            3018
REPROBACIÓN_SECUNDARIA          2994
REPROBACIÓN_MEDIA               2766
REPITENCIA                       890
REPITENCIA_TRANSICIÓN           7915
REPITENCIA_PRIMARIA             1419
REPITENCIA_SECUNDARIA           1608
REPITENCIA_MEDIA                4354
dtype: int64

### 1.2.4 Análisis de Columnas Duplicadas en valores

In [6]:
duplicates = find_duplicate_columns(df_work)

Las columnas 'APROBACIÓN_TRANSICIÓN' y 'REPROBACIÓN_TRANSICIÓN' tienen los mismos datos.

# 2: Limpieza

### 2.1 Limpia y estandariza los nombres de las columnas

In [7]:
df_cleaned = clean_column_names(df_work)

Columnas estandarizadas ✅.

### 2.2 Eliminar columnas

In [8]:
df_delete = delete_columns(df_cleaned, COLUMNS_TO_DELETE )

Columnas Eliminadas. ✅

### 2.3 Imputa ceros y valores nulos en columnas numéricas

In [9]:
df_imp = handle_missing_values(df_delete)

✅ Imputación completa.
Número de ceros por columna después de imputar:  0

Número de nulos por columna después de imputar:  0

### 2.4 Imputar valores en columnas categóricas (texto)

In [10]:
df_procesado = normalize_column_names(
    df_imp,
    columns_to_convert_to_numeric=COLUMNS_TO_CONVERT_TO_NUMERIC,
    imputar=True
)

 Valores nulos en columnas categóricas:
poblacion_5_16    6

✅ Columna 'poblacion_5_16' convertida a numérico
   - Valores nulos imputados: 6 → 0
   - Mediana usada para imputación: 2640.00
   - Tipo de dato actual: float64

### 2.5 Eliminar filas especificas

In [11]:
df_processed = filter_remove_rows(
    df_procesado,
    FILTER_COLUMN,
    FILTER_VALUE    
)

✅ Se eliminaron 3 filas donde 'municipio' == NACIONAL

### 2.6 Guardar el DataFrame limpio para uso futuro

In [12]:
save_processed_data(df_processed, PROCESSED_DATA_PATH)

Datos procesados guardados exitosamente en: c:\Users\LENOVO\OneDrive\Documentos\python class\Dathon_Academic_MEN\data\processed\datos_educacion_limpios.csv